.tabelacompleta {
    background-color: rgb(249, 211, 155);
    width: 900px;
    margin: auto;
}
.fcartao {
    display: inline-block;
    background-color: rgb(247, 247, 247);
    color: #6f6f6f;
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    border-left: rgb(0, 0, 0) solid 2px;
    border-right: rgb(0, 0, 0) solid 2px;
    border-radius: 5px;
    cursor: copy;
   
}
.vejaM{
    display: none; 
    background-color: rgb(230, 249, 230);
}