.tabelacompleta {
    background-color: rgb(249, 211, 155);
    width: 900px;
    margin: auto;
}
.fcartao {
    display: inline-block;
    background-color: rgb(247, 247, 247);
    color: #6f6f6f;
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    border-left: rgb(0, 0, 0) solid 2px;
    border-right: rgb(0, 0, 0) solid 2px;
    border-radius: 5px;
    cursor: copy;
   
}
.vejaM{
    display: none; 
    background-color: rgb(230, 249, 230);
}
.tMagica{
    /*background-color: #686868;*/
    background-color: #181818;
    border: solid #181818 1px;
    height: 250px;
    color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: black 1px 1px 10px;
    
    width: 400px;
}
.tdNumber{
    text-align: center;
    border: rgb(48, 48, 48) solid 1px;
    font-size: 30px;
}
.contagemNMS{
    background-color: blanchedalmond;
    border-bottom: rgb(157, 157, 157) solid 5px;
    
}
.lDireito{
    background-color: rgb(252, 255, 197);
    padding: 5px;
    width: 40px;
    text-align: center;
    border-bottom: black solid 1px;
}
.tipoN {
    
}
.probabilidadeS{
    background-color: rgb(0, 135, 49);
    
    padding: 5px;
    display: relative;
    
}
.Distinto{
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
}
.probDireito {
    padding-top: 10px;
}
.bolaPalpite {
    padding: 10px;
    background-image: linear-gradient(120deg, rgb(52, 171, 95), rgb(0, 52, 16));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
}
.botaoMegadaVirada {
    background-color: #181818;
    position: relative;
    width: 216px;
    height: 100px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.esconde{
    background-color: white;
}
.botaoMegadaVirada::before{
    content: "";
    background: conic-gradient( rgb(136, 255, 0) 
20deg, transparent 
120deg );
    position: absolute;
    width: 918px;
    height: 299px;
    margin-left: -464px;
    margin-top: -151px;
    animation: rotateMS 2s linear infinite;
}
.botaoMegadaVirada::after{
    content: "MEGA DA VIRADA 2021";
    background-color: #101010;
    position: absolute;
    color: greenyellow;
    padding: 27px;
    width: 142px;
    border-radius: 16px;
    margin-left: -98px;
    margin-top: -42px;
    
}

.cent {
    width: 180px;
    height: 80px;
    /* box-shadow: 16px 14px 20px rgb(41, 41, 41); */
    border-radius: 12px;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cent::before{
    content: "";
    background: conic-gradient( #ff0052 
    20deg, transparent 
    120deg );
    width: 341px;
    height: 259px;
    position: absolute;
    margin-left: -170px;
    margin-top: -133px;
    animation: rotate 3s linear infinite;

}
.cent::after{
    content: "0";
    padding-top: 16px;
    width: 169px;
    height: 54px;
    text-shadow:
      
      0 0 21px #f96f9b,
      0 0 42px #fa3573,
      0 0 82px #f4135a,
      0 0 92px #f5125a,
      0 0 102px #ff0052,
      0 0 151px #c90040;
    background: #181818;
    position: absolute;
    margin-left: -85px;
    margin-top: -36px;
    color: #ff0052;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

}
.fundoOneO{
    background: black;
    padding: 10px;
    display: flex;
    width: 600px;
    z-index: 1;
}
.fAmarelo{
    background-color: yellow;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }

}
@media (max-width:768px) {
    .fundoOneO{
        
        width: 600px;
    
    }
}
@keyframes rotateMS {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


