.tabelacompleta {
    background-color: rgb(249, 211, 155);
    width: 900px;
    margin: auto;
}
.fcartao {
    display: inline-block;
    background-color: rgb(247, 247, 247);
    color: #6f6f6f;
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    border-left: rgb(0, 0, 0) solid 2px;
    border-right: rgb(0, 0, 0) solid 2px;
    border-radius: 5px;
    cursor: copy;
   
}
.vejaM{
    display: none; 
    background-color: rgb(230, 249, 230);
}
.tMagica{
    /*background-color: #686868;*/
    background-color: #181818;
    border: solid rgb(255, 255, 255) 1px;
    height: 250px;
    color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: black 1px 1px 10px;
    
    width: 400px;
}
.tdNumber{
    text-align: center;
    border: rgb(48, 48, 48) solid 1px;
    font-size: 30px;
}
.contagemNMS{
    background-color: blanchedalmond;
    border-bottom: rgb(157, 157, 157) solid 5px;
    
}
.lDireito{
    background-color: rgb(252, 255, 197);
    padding: 5px;
    width: 40px;
    text-align: center;
    border-bottom: black solid 1px;
}
.tipoN {
    
}
.probabilidadeS{
    background-color: burlywood;
    padding: 10px;
}
.Distinto{
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
}
.probDireito {
    padding-top: 10px;
}
.bolaPalpite {
    padding: 10px;
    background-image: linear-gradient(120deg, rgb(52, 171, 95), rgb(0, 52, 16));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
}
.cent {
    width: 180px;
    height: 80px;
    /* box-shadow: 16px 14px 20px rgb(41, 41, 41); */
    border-radius: 12px;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cent::before{
    content: "";
    background: conic-gradient( #ff0052 
    20deg, transparent 
    120deg );
    width: 341px;
    height: 259px;
    position: absolute;
    margin-left: -170px;
    margin-top: -133px;
    animation: rotate 3s linear infinite;
}
.cent::after{
    content: "0";
    padding-top: 16px;
    width: 169px;
    height: 54px;
    background: #101010;
    position: absolute;
    margin-left: -85px;
    margin-top: -36px;
    color: #ff0052;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }

}